<style type="text/css">
  p {
    font-size: 1.5em;
  }

  .main-image {
    width: 100%;
    border-radius: 5px;
  }

  .profile-img {
    height: 50%;
    width: 50%;
    border-radius: 50%;
  }
</style>

<div class="container">
  <div class="row">
    <div class="col s12">
      <h1 id="title">Titulo del evento</h1>
      <img class="main-image" src="./img/eventDetailSample.jpg">
      <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis arcu turpis, ornare eu faucibus eu, molestie sed nibh. Phasellus ultricies placerat odio ultricies cursus.  Quisque nulla justo, tincidunt quis velit sollicitudin, egestas accumsan risus. Aliquam erat volutpat. Donec metus massa, blandit condimentum sem non, luctus aliquam  dolor. Vestibulum iaculis iaculis est, eget consectetur velit vehicula ac. Vivamus ornare dui massa, vel rutrum lectus accumsan ac. Suspendisse a cursus nulla, sit amet   iaculis nulla.
      </p>
      <p>
      Donec pellentesque, tortor a mattis luctus, ipsum neque dapibus ipsum, sit amet laoreet magna orci vitae lorem. Proin lobortis a nunc sit amet blandit. Nam congue nibh a   dolor auctor, sed suscipit dolor blandit. Nunc massa turpis, auctor ac tincidunt vel, lacinia non nibh. Vestibulum malesuada lorem ac pulvinar semper. Fusce porta, nibh  hendrerit gravida dictum, dui sem rhoncus erat, ac suscipit neque ligula eu ipsum. Morbi porttitor dolor nec urna maximus dictum. Phasellus venenatis felis neque, id  tristique dui commodo eget. Aliquam erat volutpat. Cras suscipit magna non nulla pretium, at viverra nibh convallis. Vestibulum molestie ac nunc ac maximus. Donec quis  orci sed magna maximus scelerisque nec ac sapien. Curabitur at malesuada lacus. Nam vulputate erat dolor, in porttitor ligula ullamcorper at. Phasellus vestibulum mauris  imperdiet, ornare ante eu, vehicula ligula. Curabitur porta purus ut rutrum pharetra.
      </p>

      <h3>Temas</h3>
      <p>Musica, Programacion, Stickers</p>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col s6">
      <p>Fecha: 20/12/18</p>
    </div>
    <div class="col s6">
      <p>Lugar: laMochilaCowork</p>
    </div>
  </div>

  <div class="col s12">
    <p>Tus amigos tambien asistiran:</p>
    <div class="row">
      <div class="col s2 offset-s2">
      <img src="./img/profileSample.jpeg" class="profile-img">
      </div>
      <div class="col s2 offset-s2">
      <img src="./img/profileSample.jpeg" class="profile-img">
      </div>
      <div class="col s2 offset-s2">
      <img src="./img/profileSample.jpeg" class="profile-img">
      </div>
      <div class="col s2 offset-s2">
      <img src="./img/profileSample.jpeg" class="profile-img">
      </div>
      <div class="col s2 offset-s2">
      <img src="./img/profileSample.jpeg" class="profile-img">
      </div>
      <div class="col s2 offset-s2">
      <img src="./img/profileSample.jpeg" class="profile-img">
      </div>
    </div>
  </div>
  <div class="row">
    <a class="waves-effect waves-light btn col s2 offset-s10">Ver mas amigos</a>
  </div> 

  <hr>
  
  <div class="row">
    <h2>Organizador</h2>
    <p>Pedro Henriquez Saiton</p>
  </div>
</div>