<style>
.marginxxx {
    margin: 30px;
    text-align: center;
}

.circle.defaultColor.white-text {
    height: 100px;
    width: 100px;
    margin: 0 auto;
    line-height: 100px;
    font-size: 40px;
}
</style>
<div class="marginxxx">

    <div class="circle defaultColor white-text">
        <i class="fa fa-user-plus"></i>
    </div>
    <h5 class="defaultTextColor">Hay 5 personas gustos similares a los tuyos</h5>
    <p style="opacity  : 0.8">Mira a tu alrededor y forma tu equipo.</p>
    <div class="chip">C#</div>
    <div class="chip">Python</div>
    <div class="chip">Raspberry Pi</div>
    <div class="chip">R</div>
    <div class="chip">Socket.IO</div>
</div>