<style type="text/css">
.LoginTitle {
    text-align: left;
    text-shadow: none;
    font-size: 30px;
}
</style>
<div class="row">
    <br/>
    <br/> 
    <div class="col s12 m6 offset-m3 l4 offset-l4 LoginContainer" style="padding: 30px !important">
        <div class="row">
            <div>
                <div class="LoginTitle defaultTextColor">{{Settings.AppSettings.AppName}}</div>
            </div> 
        </div>
        <div class="row">
            <div>
                <div class="Styletto rounded medium topMargin iconed alpha75" style="background-color: #f7f7f7;"> 
                    <i class="fa fa-user"></i><input type="text" name="Username" placeholder='Usuario'>
                </div>

                <div class="Styletto rounded medium topMargin iconed alpha75" style="background-color: #f7f7f7;"> 
                    <i class="fa fa-key"></i><input type="password" name="Password" placeholder='Clave'>
                </div>

                <button class="Styletto rounded topMargin defaultColor textWhite animateCubic medium right shadowed" id="Login"> 
                    Iniciar Sesion
                </button>
            </div>
        </div>
        <div class="row">
            <div>
                <a href="#Register.html" class="Styletto topMargin button rounded notRoundTop topMargin defaultTextColor medium animateCubic right shadowed waves-effect  waves-defaultColor"> 
                    Registrate
                </a>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    Settings.ActivityBarSettings.Hidden = true;
    Settings.ActivityBarSettings.HasLeftButton = true;
    $("#Login").on("click", function() {
        if($("[name='Username']").val().trim() == "") {
            Materialize.toast("El usuario no puede estar vacio.");
            return;
        }
        if($("[name='Password']").val().trim() == "") {
            Materialize.toast("La clave no puede estar vacia.");
            return;
        }

        $("#Login").html(`<i class='fa fa-spinner fa-pulse fa-fw'></i>`)
        setTimeout(function() {
            $("#Login").html("Iniciar sesion");
            if($("[name='Password']").val().trim() != "125478") {
                Materialize.toast("Clave incorrecta");
                return;
            }
            location.hash = "Events.html";
        }, 2000)
    });
</script>