<div class="row">
    <div class="col s12">
        <div class="card">
            <div class="card-content">
                <div class="card-title">Meeteam Team</div>
                <div class="Profile">
                    <div class="ProfilePhoto">J</div>
                    <div class="ProfileName">Jason Guo</div>
                </div>
                <div class="Profile">
                    <div class="ProfilePhoto">R</div>
                    <div class="ProfileName">Roniel Valdez</div>
                </div>
                <div class="Profile">
                    <div class="ProfilePhoto">M</div>
                    <div class="ProfileName">Marino Gomez</div>
                </div>
                <div class="Profile">
                    <div class="ProfilePhoto">W</div>
                    <div class="ProfileName">Wildin Mota</div>
                </div>
                <div class="Profile">
                    <div class="ProfilePhoto">P</div>
                    <div class="ProfileName">Pablo Ferreira</div>
                </div>
            </div>
        </div>
    </div>
</div>