<style type="text/css">
  p {
    font-size: 1.5em;
  }

  #interest-text-area {
    border-radius: 5px;
    min-height: 300px;
  }
></style>

<div class="container">
  <div class="row">
  <div class="col s12">
  <h1>¿Cuales son tus intereses?</h1>

  <p>Escribe una descripcion sobre tus principales intereses pars conectarte con personas con los mismos</p>
  <textarea name="interes" id="interest-text-area" cols="100" rows="100"></textarea>
  </div>
  <a href="#" class="waves-effect waves-light btn btn-large col s2 offset-s10">Enviar <i class="fa fa-paper-plane"></i></a>
  </div>
</div>